.formContent{
    display: flex;
    gap: 0.5rem;
}
.formContent input{
    width: 39.875rem;
    border-radius: 8px;
    height: 3.375rem;
    border: none;
    padding: 1rem 1rem;
    color: var(--white);
    background: var(--gray-500);
}

.formContent input:focus::placeholder{
    visibility: hidden;
}

.formContent input:placeholder-shown{
    padding: 1rem 1rem;
}

.formContent button{
    width: 5.625rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: var(--blue-dark);

    color: var(--white);

    transition: background-color 0.2s;
}

.formContent button:hover{
    background: var(--blue);
}

.buttonContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.buttonContent span{
    font-size: 0.875rem;
    

    font-weight: bold;
}

.taskHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.taskInfo{
    display: flex;
    align-items: baseline;
    gap: calc(0.5rem + 0.25rem);
}

.taskInfo h2{
    font-size: 0.875rem;
    color: var(--blue);
}

.taskInfo span{
    color: var(--gray-200);
    font-size: 0.75rem;
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
}

.taskConcluid{
    display: flex;
    align-items: center;
    gap: calc(0.5rem + 0.25rem);
}

.taskConcluid h2{
    font-size: 0.875rem;
    color: var(--purple);
}

.taskConcluid span{
    color: var(--gray-200);
    font-size: 0.75rem;
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
}