.taskHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.taskInfo{
    display: flex;
    align-items: baseline;
    gap: calc(0.5rem + 0.25rem);
}

.taskInfo h2{
    font-size: 0.875rem;
    color: var(--blue);
}

.taskInfo span{
    color: var(--gray-200);
    font-size: 0.75rem;
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
}

.taskConcluid{
    display: flex;
    align-items: center;
    gap: calc(0.5rem + 0.25rem);
}

.taskConcluid h2{
    font-size: 0.875rem;
    color: var(--purple);
}

.taskConcluid span{
    color: var(--gray-200);
    font-size: 0.75rem;
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
}